
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');


body {
    background-color:#35413E;
}

#monster {
    position: absolute;
    text-align: center;
    top: 200px
}

#drum {
    position: absolute;
    text-align: center;
    color: #E63374;
    font-family: "Fredericka The Great";
    font-size: 40px;
    border-style: double;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 18px
    
    
}

#use {
    position: absolute;
    text-align: center;
    top: 130px;
    font-family: "Fredericka The Great";
    font-size: 30px;
    font-weight: 600
}

.buttons {
    margin-top: 700px;
    text-align: center;
    color:#E63374;
    font-family: "Fredericka The Great";
    font-size: 18px;
    background-color: black;
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    border-color: black;
    border-radius: 50%;
    
}


#notes {
    position: absolute;
    top: 115px;
    width: 500px;
    text-align: center;
}



 .buttons:hover {
    background-color:#BBBBBB;
    color: black
  }

  .wrapper {
    display: flex;
    justify-content: center;

   }


